* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.section_1 {
    background-color: #37acf7;
    position: relative;
    background-position : center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(background4.jpg);
}
.section_2{
    background :linear-gradient(#37acf7 20%, #000a90) ;
}
.section_3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.section_3_partion_1 {
    position: relative;
}

.partition_1_head {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 160px;
    transform: translateX(50px);
    background-position: center;
    background-size: cover;
    background-image: url(t21complet.png);
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-40%);
    padding-right: 2%;
    border-bottom: 2px solid blue;
    padding-left: 2%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
}
nav ul li a{
    color: rgb(75, 3, 45);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(241, 31, 83);
    transition: .3s;
}


.welcome_message {
    font-size: 10rem;
    color: transparent;
    transform: translate(5%, 40%);
    font-family: sans-serif;
    -webkit-text-stroke: 2px #fff;
    cursor: pointer;
    transition: all .4s ease;
    display: inline-block;
}

.welcome_message:hover {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke: 0;
}

.section_3_partion_2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carts_container {
    height: 80%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.cart {
    border: 1px solid #fff;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 10px;
    transition: all .5s ease;
    border: 1px solid lightgray;
}

.cart_image {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cart img {
    position: relative;
    
}
.cart_image_1 {
height: 175px;
    width: 220px;
    transform: translateX(20px);
    background-position: center;
    background-size: cover;
    
}

.cart:hover {
    transform: translateY(-15px);
    opacity: 1;
}