#tableau {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
    background-color:#f1f1f1
  }
  
  #tableau th, #tableau td {
    text-align: left;
    padding: 12px; 
  }
  
  #tableau tr {
    border-bottom: 1px solid #ddd;
  } 
  .conteneur {
      position: relative;
      /* max-width: 800px; */
      margin: 0 auto;
    }
    
    .conteneur img {vertical-align: middle;}
    
    .conteneur .contenu {
      position: absolute;
      /* bottom: 0; */
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 0.3em;
    }
    .flexbox
    {
      display: flex;
    }
  
    /* profil */
    
  
  
  .card{
  background :white;
  position :relative;
  border-radius :20px;
  box-shadow: 1px 1px 40px rgba(black, 0.1);
  max-width :300px;
  display :flex;
  flex-direction: column;
  align-items :center;
  padding :15px;
  box-sizing :border-box;
  }
  svg
  {
    width :150px;
    height :150px;
    border-radius :50%;
    border :solid 10px transparent;
    background-image: linear-gradient(white, white),linear-gradient(90deg, #ec343426 40%, #1748ea26 100%);
    background-clip :padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size :100% 100%, 100% 100%;
    background-position :center center, center bottom;
    background-repeat: no-repeat;
    transition :1s;
  }
  h2
  {
    margin: 0;
    padding :1rem;
  }
  .title
  {
    padding :0.7rem 1rem;
    font-size :14px;
    font-weight :600;
    color: #9a9a9a;
  }
  .desc
  {
    padding: 1rem 1rem;
    order :2;
    text-align :center;
  }